.site-header main-navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background-color: #eeeeee;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #777777;
    font-size: 14px;
    line-height: 1.75em;
}

a {
    color: #b10021;
}
a:active, a:visited, a:link {
    outline: 0;
    border: 0;
    text-decoration: none;
}

.site-header .main-navigation {
    display: block;
    background-color: #b10021;
    text-align: center;
    padding: 15px 0;
}
.site-header .main-navigation ul li {
    display: inline-block;
    margin-right: 60px;
}
.site-header .main-navigation ul li:last-child {
    margin-right: 0px !important;
}
.site-header .main-navigation ul li a {
    padding: 10px 20px;
    display: inline-block;
    color: white;
    font-size: 18px;    
}
.site-header .main-navigation ul li a.active {
    background-color: #eeeeee;
    color: #2a2a2a;
    border-radius: 4px;
}

.site-header .templatemo_logo {
    margin-top: 60px;
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
}

a.menu-toggle-btn {
    padding: 15px 0;
    display: block;
    color: white;
    font-size: 28px;
}

.responsive-menu {
    display: none;
}
.responsive_menu {
    display: none;
    background-color: #2a2a2a;
}
.responsive_menu ul li{
    display: block !important;
    margin: 0 !important;
    border-bottom: 1px solid #444444;
}
.responsive_menu ul li a{
    padding: 20px 0 !important;
    display: block !important;
}
